html {
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black !important;
}

.temp {
    height: 40vh;
    width: 80%;
    margin: 0 auto;
    background-image: url(android-chrome-192x192.png);
    background-size: 100% 100%;
}

input {
    height: 60px;
    width: 99%;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 25px;
    font-size: xx-large;
    font-weight: bold;
    background-color: lightgrey;
    color: black;
}

.greeting {
    font-size: 60px;
    color: #209CEE;
    font-weight: bold;
}

.cryptoHeadline {
    background-color: white;
    height: 400px;
    width: 95%;
    margin: 5px auto;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: .4vw .4vw .6vw #d0d0d0, -.4vw -.4vw .6vw #f6f6f6;
}

.name {
    color: rgb(65, 64, 64);
    font-weight: 300;
    font-size: 65px;
    margin-top: 0;
}

.price {
    color: rgb(65, 64, 64);
    font-size: 70px;
    text-align: center;
}

.diff {
    width: 30%;
    height: 60px;
    background-color: rgb(124, 223, 124);
    text-align: center;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
    font-size: xx-large;
}

.greyLine {
    height: 3px;
    width: 100%;
    background-color: grey;
}

td {
    font-size: 38px;
    color: rgb(65, 64, 64);
    font-weight: 400;
    border: 1px solid black;
}

tr {
    margin-top: 10px;
    font-size: 38px;
}

table {
    border-spacing: 5px 30px;
    border-collapse: collapse;
}

.otherInfo {
    color: rgb(65, 64, 64);
    box-shadow: .4vw .4vw .6vw #d0d0d0, -.4vw -.4vw .6vw #f6f6f6;
    width: 95%;
    margin: 0 auto;
    font-weight: 500;
    font-size: x-large;
    border-radius: 5px;
}

.suggest {
    font-size: 35px;
    font-weight: 500;
    color: rgb(65, 64, 64);
    box-shadow: .4vw .4vw .6vw #d0d0d0, -.4vw -.4vw .6vw #f6f6f6;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 40px;
    width: 50%;
    height: 65px;
    font-weight: 500;
}

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: white;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
}